<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetSAPP"
        tools:targetApi="31">
        <activity
            android:name=".hastaveteriner"
            android:exported="false" />
        <activity
            android:name=".hastabildiriler"
            android:exported="false" />
        <activity
            android:name=".hastabilgiler"
            android:exported="false" />
        <activity
            android:name=".hastasayfa"
            android:exported="false" />
        <activity
            android:name=".barinaklar"
            android:exported="false" />
        <activity
            android:name=".randevu"
            android:exported="false" />
        <activity
            android:name=".hastabildirim"
            android:exported="false" />
        <activity
            android:name=".hastabilgi"
            android:exported="false" />
        <activity
            android:name=".kullanicihesap"
            android:exported="false" />
        <activity
            android:name=".veterinersayfa"
            android:exported="false" />
        <activity
            android:name=".vet_hesapolustur"
            android:exported="false" />
        <activity
            android:name=".veterinerGiris"
            android:exported="false" />
        <activity
            android:name=".hastaGiris"
            android:exported="false" />
        <activity
            android:name=".veteriner"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>